//  Imports and React-MD config
@import '~react-md/src/scss/react-md';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Material+Icons');
@import 'layout';
@import 'react-table';

$md-light-theme: true; // optional for light theme
$md-primary-color: #4b2e83;
$md-secondary-color: #85754d;
//  Disable material design color compliance warnings
$md-colors-warn-md: false;
@include react-md-everything;

// Normalize
* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    margin: 0;
}
a {
  text-decoration: none;
}

//  Page layouts
article {
  // max-width: 960px;
  margin: 16px 4px;
  padding: 4px 0;
  @media screen and (min-width: 992px) {
    margin: 16px auto;
    padding: 16px 0;
  }
}
